body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition : 0.4s;
}

.wowo-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);
  width: 100px;
  height: 100px;
  background: pink;
}

#alphabet-input {
  text-align: center;
}

button:active {
  opacity : 0.6;
}

button:hover {
  opacity : 0.6;
}

input[type="text"]:hover {
  opacity : 0.8;
}

input[type="text"] {
  outline: none;
  border: 2px solid lightskyblue;
  border-radius: 8px/8px;
  font-size: 24px;
  background: gainsboro;
  color: black;
}

button {
  background: lightblue;
  outline: none;
  border: 2px solid gainsboro;
  font-size: 24px;
  border-radius: 8px/8px;
  cursor: pointer;
}

#automaton {
    margin-top: 20px;
}
.hidden {
    display: none;
}

/* Make the table bigger */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse; /* Ensures the borders are combined properly */
}

/* Define borders for table, header cells, and data cells */
th, td {
    border: 2px solid black; /* Thicker borders for visibility */
    padding: 15px;           /* Increase padding to make cells bigger */
    text-align: left;        /* Align text to the left */
    font-size: 18px;         /* Increase the font size for better readability */
}

/* Style for the splitting line */
.splitting-line {
    background-color: #000;  /* Make it black */
    height: 10px;            /* Increase its height */
}

/* Make the splitting line span across all columns */
.splitting-line td {
    padding: 0;
    border: none;
    height: 10px;
}

/* Example color classes */
.green-background {
    background-color: lightgreen;
}

.red-background {
    background-color: lightcoral;
}

svg {
    height : 50vh;
}

.yellow-background {
    background-color: lightyellow;
}
